body {
  background-color: black;
  color: white;
}
.title {
  color: #991f1f;
  text-align: center;
  font-size: 40px;
  background-color: #8b8000;
  background-size: 30px 100px 30px 2000px;
}
p {
  font-size: 25px;
  color: red;
  text-align: justify;
}
#normal-link {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: red;
  height: auto;
  width: auto;
  position: fixed;
  bottom: 13%;
  left: 1%;
  font-size: 18px;
}
#normal-link:hover {
  color: blue;
  color: #8b8000;
  background-color: indigo;
}
#normal-link:active {
  color: blue;
}

img {
  float: left;
}
.wishlist {
  text-decoration: none;
  font-family: monospace;
  text-align: center;
  background-color: red;
  color: black;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  text-align: 50px 0px 0px 300px;
  position: absolute;
  bottom: 7%;
  left: 1%;
}

.wishlist:hover {
  background-color: indigo;
  color: #8b8000;
}
