body {
  background-color: black;
  color: white;
}
h1 {
  color: #991f1f;
  text-align: center;
  font-size: 40px;
  background-color: #8b8000;
  background-size: 30px 100px 30px 2000px;
}
p {
  font-size: 25px;
  color: red;
  text-align: justify;
}
#normal-link:hover {
  color: blue;
  font-size: 16.4px;
}
#normal-link:active {
  color: blue;
}
#normal-link:link {
  background-color: lightgray;
  font-weight: bold;
  height: 60px;
  width: 60px;
}

img {
  float: left;
}
.wishlist {
  font-family: ninja;
  font-family: monospace;
  text-align: center;
  background-color: red;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  display: inline-block;
  text-align: 50px 0px 0px 300px;
}
@font-face {
  font-family: ninja;
  src: url();
}
@font-face {
  font-family: samurai;
  src: url();
}
#normal-link {
  position: relative;
  top: 530px;
  right: 340px;
}
